body{
    margin: 0;
    overflow-x: hidden;
}
.maincontainer{
    height: 100%;
    width: 100%;
}
.main1{
    width: 100%;
    height: 729px;
    background-color: blue;
    background-image: url(images/tesla1.avif);
    background-size: 100% 100%;
    
}
.mainhead{
    width: 100%;
    height: 5%;
    background-color: transparent;
    display: flex;
}
.h1{
    width: 10%;
    height: 100%;
    font-family: 'TESLA', sans-serif;
    padding-left: 23px;
    padding-top: 8px;
    font-size: 25px;
}
.h2{
    width: 80%;
    height: 100%;
    background-color:transparent;
}
.h3{
    width: 10%;
    height: 100%;
    margin-top: 10px;
}
@font-face {
    font-family: tesla;
    src: url('https://fonts.cdnfonts.com/css/tesla-2');
}
.nav{
    display: flex;
    gap: 2rem;
    text-align: center;
    justify-content: center;
}
.nav li{
    list-style: none;
}
.nav a{
    text-decoration: none;
    color: black;
}
.tohover:hover{
    background-color:#;
}
.qstn{
    width: 22px;

}
.int{
    width: 22px;
    margin-left: 15px;

}
.user{

    width: 22px;
    margin-left: 15px;
}
.h3 img:hover{
    background-color: #9ac6df;
}
.firstcontent{
    width: 406px;
     height: 180px;
    background-color:transparent;
    margin-left: 565px;
    margin-top: 63px;
}
.mh{
    text-align: center;
}
.price{
    margin-top: -15px;
}
.from{

    padding-left: 10px;
}
.line{
    margin-top:-52px;
}
.mh h1{
    font-weight: 600;
    font-size: 41px;
}
.button1{
    width: 250px;
    height: 35px;
    background-color: white;
    margin-left: 490px;
    margin-top: 262px;
    border-radius: 10px;
    overflow: hidden;
}
.button2{
    width: 250px;
    height: 35px;
    background-color: black;
    margin-top: 262px;
    margin-left: 20px;
    border-radius: 10px;
    overflow: hidden;
    color: white;
}
.fb{
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
}
.input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}
.input2{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: white;
}
.input2:hover{
    background-color: #393c41;
}
.main2{
    width: 100%;
    height: 729px;
    background-color: blue;
    background-image: url(images/tesla2.avif);
    background-size: 100% 100%;
    margin-top: -63px;
    padding-top: 20px;
    
}
.price2{
    margin-left: 124px;
}
.from2{

    margin-left: 108px;
    margin-top: -15px;
}
.fb2{
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
    margin-top: 20px;
}
.fortext2{
    margin-top: 10px;
}
.buttons1{
    width: 250px;
    height: 35px;
    background-color: white;
    margin-left: 490px;
    margin-top: 262px;
    border-radius: 10px;
    overflow: hidden;
}
.buttons2{
    width: 250px;
    height: 35px;
    background-color: black;
    margin-top: 262px;
    margin-left: 20px;
    border-radius: 10px;
    overflow: hidden;
    color: white;
}
.inputs{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}
.inputs2{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: white;
}
.inputs2:hover{
    background-color: #393c41;
}
.main3{
    width: 100%;
    height: 729px;
    background-color: blue;
    background-image: url(images/tesla3.avif);
    background-size: 100% 100%;
    margin-top: -63px;
    padding-top: 20px;
    
}
.main4{
    width: 100%;
    height: 729px;
    background-color: blue;
    background-image: url(images/tesla4.avif);
    background-size: 100% 100%;
    margin-top: -63px;
    padding-top: 20px;
    
}
.fb3{
    width: 100%;
    height: 50px;
    background-color:transparent;
    display: flex;
    margin-top: 45px;
}
.fb4{
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
    margin-top: 100px;
}
.fortext4 div{
    color: white;

}
.main5{
    width: 100%;
    height: 729px;
    background-color: blue;
    background-image: url(images/tesla6.avif);
    background-size: 100% 100%;
    margin-top: -63px;
    padding-top: 20px;
}
.fortext5{
    width: 300px;
    width: 452px;
    color: white;
    margin-left: -134px;
    margin-top: 106px;
}
.line2{
    margin-top: -26px;
}
.buttons51{
    width: 250px;
    height: 35px;
    background-color: white;
    margin-left: 490px;
    margin-top: 262px;
    border-radius: 10px;
    overflow: hidden;
}
.buttons52{
    width: 250px;
    height: 35px;
    background-color: black;
    margin-top: 262px;
    margin-left: 20px;
    border-radius: 10px;
    overflow: hidden;
    color: white;
}
.fb5{
    width: 100%;
    height: 50px;
    background-color: red;
    display: flex;
    margin-top: 100px;
}
.btns{
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
    padding-left: 414px;
    padding-top: 266px;

}
.btn1{
    width: 250px;
    height: 35px;
    background-color: white;
    margin-left: 20px;
    border-radius: 10px;
    overflow: hidden;
    color:black;

}
.btn2{
    width: 250px;
    height: 35px;
    background-color: black;
    margin-left: 20px;
    border-radius: 10px;
    overflow: hidden;
    color: black;

}
.btns2:hover{
    background-color: #393c41;
}
.inp1{
    width: 100%;
    height: 100%;
    border: none;
    color: black;
    
}
.inp2{
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    background-color: transparent;
}
.inp2:hover{
    background-color: #393c41;
}
.main5{
    width: 100%;
    height: 729px;
    background-color: blue;
    background-image: url(images/main5.avif);
    background-size: 100% 100%;
    margin-top: -150px;
    padding-top: 20px;
}
.fortext6{
    width: 300px;
    width: 452px;
    color: white;
    margin-left: -134px;
    margin-top: 106px;
}
.main6{
    width: 100%;
    height: 729px;
    background-color: blue;
    background-image: url(images/tesla8.avif);
    background-size: 100% 100%;
    margin-top: -63px;
    padding-top: 20px;
}
.firstcontent6{
    padding-top: 38px;
    padding-left: 655px;

}
.main7{
    width: 100%;
    height: 729px;
    background-color: blue;
    background-image: url(images/tesla99.jpg);
    background-size: 100% 100%;
    padding-top: 20px;
    margin-top: -87px;
    overflow: hidden;
}
.main55{
        width: 100%;
        height: 729px;
        background-color: blue;
        background-image: url(images/tesla10.avif);
        background-size: 100% 100%;
        margin-top: -63px;
        padding-top: 20px;
}
.fortext55{
        width: 300px;
        width: 452px;
        color: black;
        margin-left: -134px;
        margin-top: 106px;
}
.f5p2{
        margin-left: 29px;
        margin-top: -13px;
}
.hd{
    transform: translate(122px, -87px);
    color: black;
}
.in{
    width: 100%;
    height: 100%;
    border: none;
    color: black;
    
}
.bttn{
    width: 250px;
    height: 35px;
    background-color: white;
    margin-left: 213px;
    border-radius: 10px;
    overflow: hidden;
    color:black;
    margin-top: 49x;
}
.footer{
    width: 100%;
    height: 400px;
    background-color: black;
    padding-left: 385px;
}
.fbody{
    width: 800px;
    height: 290px;
    background-color: black;
    padding-top: 30px;
    padding-top: 30px;
    font-size: medium;
    color: white;
    font-weight: 200;

}
.last{
    width: 100%;
    height: 50px;
    background-color:black;
    padding-left: 385px;
}
.lastbody{
    width: 800px;
    height: 100%;
    background-color:black;
}
.ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.footerdiv{
    width: 98%;
    height: 450px;
    background-color: black;
    overflow: hidden;
}
.main45{
    width: 100%;
    height: 729px;
    background-color: blue;
    background-image: url(images/tesla5.avif);
    background-size: 100% 100%;
    padding-top: 20px;
    margin-top: -87px;
    overflow: hidden;
}
.fortext45{
    width: 442px;
    height: 126px;
    margin-left: -58px;
    margin-top: 106px;
    background-color: transparent;
    margin-top: -9px;

}
.cyber{
    margin-left: 0px;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    
}
.fb45{
    width: 100%;
    height: 50px;
    background-color:transparent;
    display: flex;
    margin-top: 100px;
    padding-left: 438px;
    margin-top: 261px;


}
.but1{
    width: 250px;
    height: 35px;
    background-color: black;
    margin-left: -201px;
    
    overflow: hidden;
    color:white;
    margin-top: 4px;

}
.but2{
    width: 250px;
    height: 35px;
    background-color: black;
    margin-left: 20px;
    
    overflow: hidden;
    color: white;
    margin-top: 4px;

}
.inputss{
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    background-color: black;

}
.inputss:hover{
    background-color: #393c41;
}
.ln{
    transform: translate(48px, -31px);
    color: #7d7e7f;
}
